<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Библиотека-Pandas" data-toc-modified-id="Библиотека-Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Библиотека Pandas</a></span></li><li><span><a href="#Раздел-1.-Создание-таблиц-из-коллекций" data-toc-modified-id="Раздел-1.-Создание-таблиц-из-коллекций-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Раздел 1. Создание таблиц из коллекций</a></span></li><li><span><a href="#Раздел-2.-Извлечение-данных-по-условию" data-toc-modified-id="Раздел-2.-Извлечение-данных-по-условию-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Раздел 2. Извлечение данных по условию</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Работа-с-набором-данных-Financial-Sample" data-toc-modified-id="Работа-с-набором-данных-Financial-Sample-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>Работа с набором данных <em>Financial Sample</em></a></span></li><li><span><a href="#Извлечение-данных-по-условию" data-toc-modified-id="Извлечение-данных-по-условию-3.0.2"><span class="toc-item-num">3.0.2&nbsp;&nbsp;</span>Извлечение данных по условию</a></span></li></ul></li><li><span><a href="#Раздел-3.-Группировка-данных" data-toc-modified-id="Раздел-3.-Группировка-данных-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Раздел 3. Группировка данных</a></span></li></ul></li></ul></div>



# Библиотека Pandas

In [ ]:
import pandas as pd

# Раздел 1. Создание таблиц из коллекций

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 1.1</p>

Имеется *серия*, содержащая числа от 10 до 1000. Какое число содержит элемент с индексом 175? Вычислите разность элементов с индексами 900 и 16.

In [8]:
# 1.1. Ваш код здесь
import pandas as pd
s = pd.Series(range(10,1001))

print(s.iloc[175])
print(s.iloc[900]-s.iloc[16])

185
884

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 1.2</p>

Мебельная фабрика выпускает продукцию  наименований: диваны, кровати, трюмо. Создайте таблицу *DatаFrame*, содержащую: количество призведенной продукции каждого наименования, остаток на складе фабрики. Наименования разместите в строках, а количество и остаток в столбцах.

In [10]:
# 1.2. Ваш код здесь
import pandas as pd
sofas = pd.DataFrame({'Наименования':['Диваны','Кровати','Трюмо'], 
                       'Количество':[56,123,30], 
                       'Остаток':[23,104,20]})

print(sofas)

  Наименования  Количество  Остаток
0       Диваны          56       23
1      Кровати         123      104
2        Трюмо          30       20

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 1.3</p>

Разделите столбец **car** таблицы **market** на два столбца: **mark** (марка) и **model** (модель).

```
market = pd.DataFrame({'car':['Lada Granta','Lada Vesta','Kia Rio','Hyunday Creta'], 
                       'year':[2019,2018,2010,2015], 
                       'condition':[75,104,20,90], 'km':[130000,210000,75000,94000]})
```

In [43]:
# 1.3. Ваш код здесь
import pandas as pd
market = pd.DataFrame({
                       'mark':['Lada','Lada','Kia','Hyunday'],
                       'model':['Granta','Vesta','Rio','Creta'],
                       'year':[2019,2018,2010,2015], 
                       'condition':[75,104,20,90], 'km':[130000,210000,75000,94000]})

df1 = market[market['mark'].str.contains('Lada')]


df1.head()

   mark   model  year  condition      km
0  Lada  Granta  2019         75  130000
1  Lada   Vesta  2018        104  210000

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 1.4</p>

Имеются исторические данные о цене акции в виде таблицы DataFrame.

```
history=pd.DataFrame([[150,20,140,140],[140,31,152,150],
                     [147,17,180,164],[129,33,150,167]],
                     columns=['Open','Low','High','Close'],
                     index=['2020-12-07','2020-12-08','2020-12-09','2020-12-10'])
```
Найдите минимальную и максимальную цены закрытия, стандартное отклонение цены открытия, среднее значение самой низкой (Low) цены и медиану самой высокой (High) цены.

In [46]:
import pandas as pd

history=pd.DataFrame([[150,20,140,140],[140,31,152,150],
                     [147,17,180,164],[129,33,150,167]],
                     columns=['Open','Low','High','Close'],
                     index=['2020-12-07','2020-12-08','2020-12-09','2020-12-10'])
history

            Open  Low  High  Close
2020-12-07   150   20   140    140
2020-12-08   140   31   152    150
2020-12-09   147   17   180    164
2020-12-10   129   33   150    167

In [53]:
# 1.4. Ваш код здесь
import pandas as pd

history=pd.DataFrame([[150,20,140,140],[140,31,152,150],
                     [147,17,180,164],[129,33,150,167]],
                     columns=['Open','Low','High','Close'],
                     index=['2020-12-07','2020-12-08','2020-12-09','2020-12-10'])



print('Максимальная и минимальная цена закрытия: ', history['Close'].max(),',',history['Close'].min())

print('Стандартное отклонение цены открытия: ', history['Open'].std())

print('Cреднее значение самой низкой (Low) цены и медиану самой высокой (High) цены: ', history['Low'].mean(),',',history['High'].median())

Максимальная и минимальная цена закрытия:  167 , 140
Стандартное отклонение цены открытия:  9.327379053088816
Cреднее значение самой низкой (Low) цены и медиану самой высокой (High) цены:  25.25 , 151.0

# Раздел 2. Извлечение данных по условию

### Работа с набором данных *Financial Sample*

In [2]:
with open('../Data/FinancialSampleFields.csv', encoding='utf-8') as f:
  content = f.readlines()
  content = [x.replace('\n','').split(';') for x in content]

pd.DataFrame(content[1:],columns = content[0])

                  Name                          Meaning
0              Segment                    Сегмент рынка
1              Country                           Страна
2              Product                        Сделано в
3         DiscountBand                    Группа скидок
4            UnitsSold                     Продано штук
5   ManufacturingPrice                Цена производства
6            SalePrice              Цена единицы товара
7           GrossSales                  Валовая продажа
8            Discounts                           Скидка
9                Sales          Стоимость партии товара
10                COGS  Себестоимость проданных товаров
11              Profit                          Прибыль
12                Date                             Дата
13         MonthNumber                      Месяц номер
14           MonthName                            Месяц
15                Year                              Год

### Извлечение данных по условию

Использование условий позволяет выбирать только отвечающие условиям данные.

Примеры:

`fs[fs['SalePrice']>90] # отобрать результаты, для которых цена продажи больше 90`

В результате операции сравнения в квадратных скобках создается список из *True* и *False*, который показывает, какие строки *DataFrame* нужно оставить, а какие убрать.

`fs[fs['Discounts']>fs['Discounts'].mean()] # результаты, для которых сумма скидок превышает среднюю сумму скидок`

Условия можно комбинировать, используя операторы **&** (логическое И) и | (логическое ИЛИ).

`fs[(fs['Discounts']>fs['Discounts'].mean()) & (fs['UnitsSold']<fs['UnitsSold'].mean())].sort_values('Country') # сумма скидок выше среднего, продано товара ниже среднего по выборке`

`fs[fs['Segment']=='Enterprise']['COGS'].mean() # найти среднюю себестоимость товаров промышленного (Enterprise) сегмента`

Проверьте приведенные примеры в своих ноутбуках.

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.1</p>

Загрузите этот набор данных в таблицу *DataFrame*. Какова сумма валовых продаж (GrossSales) товаров, произведеных *Amarilla* для малого бизнеса?

In [3]:
# 2.1. Ваш код здесь

import pandas as pd

with open('/Users/katekondratuk/Documents/GitHub/data-analysis/Data/FinancialSample3.csv', encoding ='utf-8') as table:
    content = table.readlines ()
    content = [x.replace('\n','').split(';') for x in content]
data = pd.DataFrame (content [1:], columns = content [0])
filterData = data[(data['Product'] == 'Amarilla') & (data['Segment'] == 'Small Business')]
resTable = filterData['GrossSales'].sum()
print(resTable, sep='\n')

77700.0330300.0574800.0375000.0411600.0738000.0190500.0897900.0255900.0266400.0742500.0163800.0

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.2</p>

Определите среднюю стоимость производства (ManufacturingPrice) товаров, выпущенных для Мексики стоимостью (SalePrice) выше, чем стоимость 70% товаров.

In [6]:
# 2.2. Ваш код здесь

data = pd.read_csv('/Users/katekondratuk/Documents/GitHub/data-analysis/Data/FinancialSample3.csv', encoding='utf-8', sep=';')

filtered_data = data[(data['Country'] == 'Mexico') & (data['SalePrice'] > data['SalePrice'].quantile(0.7))]

average_manufacturing_price = filtered_data['ManufacturingPrice'].mean()

average_manufacturing_price

103.23188405797102

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.3</p>

Найдите минимальную цену производства товара правительственого сегмента, для которого цена продажи ниже цены производства.

In [9]:
# 2.3. Ваш код здесь


data = pd.read_csv('/Users/katekondratuk/Documents/GitHub/data-analysis/Data/FinancialSample3.csv', encoding='utf-8', sep=';')


filterData = data[(data['Segment'] == 'Government') & (data['ManufacturingPrice'] > data['SalePrice'])]

filterData['ManufacturingPrice'].min()

10.0

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.4</p>

Какова средняя цена товара, стоимость производства которого ниже средней?

In [13]:
# 2.4. Ваш код здесь

data = pd.read_csv('/Users/katekondratuk/Documents/GitHub/data-analysis/Data/FinancialSample3.csv', encoding='utf-8', sep=';')

#mean
filterData1 = data['ManufacturingPrice'].mean()

filterData2 = data[data['ManufacturingPrice'] < filterData1]

filterData2['ManufacturingPrice'].mean()

39.97627965043695

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.5</p>

Во сколько раз средняя себестоимость (COGS) товаров промышленного сегмента (Enterprize) отличается от средней себестоимости товаров малого бизнеса?

In [20]:
# 2.5. Ваш код здесь
data = pd.read_csv('/Users/katekondratuk/Documents/GitHub/data-analysis/Data/FinancialSample3.csv', encoding='utf-8', sep=';')


filterData1 = data['Segment'] == 'Enterprise'

filterData2 = data['Segment'] == 'Small Business'

mean_ = data[filterData1]['COGS'].mean() / data[filterData2]['COGS'].mean()

mean_

0.5714966377808542

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 2.6</p>

Какова суммарная прибыль всех сделок в правительственном сегменте, заключенных компаниями Carretera и Paseo?

In [31]:
# 2.6. Ваш код здесь

data = pd.read_csv('/Users/katekondratuk/Documents/GitHub/data-analysis/Data/FinancialSample3.csv', encoding='utf-8', sep=';')

filterData1 = data[(data['Segment'] == 'Government') & (data['Product'] == 'Carretera')]
filterSUM1  = filterData1['Profit'].sum()

filterData2 = data[(data['Segment'] == 'Government') & (data['Product'] == 'Paseo')]
filterSUM2  = filterData2['Profit'].sum()

SUMMM = filterSUM1 + filterSUM2

SUMMM

4528986.045

## Раздел 3. Группировка данных

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.1</p>

Сколько разных систем скидок представлено в таблице?

In [34]:
# 3.1. Ваш код здесь
data = pd.read_csv('/Users/katekondratuk/Documents/GitHub/data-analysis/Data/FinancialSample3.csv', encoding='utf-8', sep=';')


s=data['DiscountBand'].value_counts()

len(s)

6

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.2</p>

Какая из систем скидок применяется реже всего?

In [35]:
# 3.2. Ваш код здесь

data = pd.read_csv('/Users/katekondratuk/Documents/GitHub/data-analysis/Data/FinancialSample3.csv', encoding='utf-8', sep=';')




s = data['DiscountBand'].value_counts()

nameID = s.idxmin()
count = s.min()


print(f'Система скидок {nameID} применяется реже всего, а количество ее применений составляет {count}')

Система скидок None применяется реже всего, а количество ее применений составляет 53

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.3</p>

Сколько раз представлены в выборке разные страны?

In [37]:
# 3.3. Ваш код здесь
s=data['Country'].value_counts()

s

Germany                     233
Mexico                      233
United States of America    226
Canada                      213
France                      140
Egypt                        97
Pakistan                     92
Finland                      88
Albania                      78
Name: Country, dtype: int64

<p style="font-size:125%; color:#119988; background-color:#EEE">Задание 3.4</p>

Разбейте значения столбца себестоимости (COGS) для Канады на шесть интервалов.

In [38]:
# 3.4. Ваш код здесь

country = data[data['Country'] == 'Canada']

pd.cut(country['COGS'], bins=6)

0         (335.66, 159508.333]
7         (335.66, 159508.333]
11      (317731.667, 475955.0]
14        (335.66, 159508.333]
16        (335.66, 159508.333]
                 ...
1327      (335.66, 159508.333]
1341      (335.66, 159508.333]
1356      (335.66, 159508.333]
1360      (335.66, 159508.333]
1371      (335.66, 159508.333]
Name: COGS, Length: 213, dtype: category
Categories (6, interval[float64, right]): [(335.66, 159508.333] < (159508.333, 317731.667] < (317731.667, 475955.0] < (475955.0, 634178.333] < (634178.333, 792401.667] < (792401.667, 950625.0]]